@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    margin-left: -585px;
  }
  .nav.fullscreen {
    margin-left: 0px;
  }
  .nav.mobile {
    margin-left: 0px;
  }
  .post .pjax,
  .post .pjax.fullscreen {
    padding: 0 18px;
  }
  .post .pjax article .div_img,
  .post .pjax.fullscreen article .div_img {
    margin: 0 -18px 25px;
  }
  .full-toc .full .min:before {
    float: left;
    width: 50%;
    content: "\e98c";
  }
  .full-toc .full .max:before {
    float: left;
    width: 50%;
    content: "\e98b";
  }
  .full-toc .full .mobile:before {
    content: "\e98b";
  }
  .full-toc #rocket:hover::before {
    color: #283444;
  }
  .full-toc #rocket.launch:before {
    color: #449fdb;
  }
}
@media screen and (max-width: 426px) {
  .nav {
    width: 100%;
    overflow: hidden;
  }
  .nav-left {
    width: 100%;
    height: auto;
  }
  .nav-right {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .nav-right form .search {
    width: 220px;
  }
  .nav-right form .cross {
    right: 116px;
  }
  .nav-right nav {
    bottom: 186px;
  }
  .nav .avatar {
    margin: 20px auto 15px;
  }
  .nav ul {
    display: none;
  }
  .nav-right nav a .post-title {
    width: 90%;
  }
  .nav-right nav a .post-date {
    display: none;
  }
  .post {
    font-size: 16px;
  }
  .post .pjax {
    padding: 0 18px;
    max-width: 100%;
  }
  .post .pjax article {
    padding-top: 1em;
  }
  .post .pjax article .article-meta {
    font-size: 0.7em;
  }
  .post .pjax article .article-meta .tag a:before {
    border: 7px solid transparent;
    left: -14px;
  }
  .post .pjax article .article-meta .tag a:after {
    top: 4px;
  }
  .post .pjax article .article-title {
    font-size: 1.6em;
  }
  .post .article_copyright {
    font-size: 8px;
  }
  .full-toc .full {
    top: 0px;
    right: 0px;
    opacity: 0.7;
  }
  .full-toc .post-toc-menu {
    top: 43px;
    right: 0px;
    opacity: 0.7;
  }
  .full-toc #rocket {
    right: -7px;
  }
  .shang_box {
    width: 100%;
    height: 400px;
    bottom: 0px;
    left: initial;
    top: initial;
    margin-left: initial;
    padding: 0;
  }
  .shang_box .shang_close {
    right: 10px;
  }
  .shang_box .shang_tit {
    font-size: 23px;
  }
  .shang_box .shang_payimg {
    width: 200px;
    height: 200px;
  }
  .shang_box .shang_payimg .pay_img {
    width: 427px;
  }
  .shang_box .shang_payimg .pay_img.weixin_img {
    margin-left: -227px;
  }
  .shang_box .shang_payimg .pay_img img {
    width: 200px;
  }
}
@media screen and (max-width: 322px) {
  .nav-right form .search {
    width: 165px;
  }
  .nav-right form .cross {
    right: 115px;
  }
  .post .pjax .article_copyright {
    font-size: 6px;
  }
  .shang_box {
    height: 331px;
    bottom: 0px;
    left: initial;
    top: initial;
    margin-left: initial;
    padding: 0;
  }
  .shang_box .shang_close {
    font-size: 39px;
    right: 8px;
  }
  .shang_box .shang_tit {
    font-size: 15px;
  }
  .shang_box .shang_payimg {
    width: 150px;
    height: 150px;
  }
  .shang_box .shang_payimg .pay_img {
    width: 324px;
  }
  .shang_box .shang_payimg .pay_img.weixin_img {
    margin-left: -174px;
  }
  .shang_box .shang_payimg .pay_img img {
    width: 150px;
  }
  .shang_box .shang_payselect {
    font-size: 16px;
  }
}
